<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>428151417911-5hukfgbjfjmbfph1upv0qp1dnvt3ok6l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.428151417911-5hukfgbjfjmbfph1upv0qp1dnvt3ok6l</string>
	<key>API_KEY</key>
	<string>AIzaSyDPVxicaGGuPKBRtg4UAhhfnl5fPL64vlg</string>
	<key>GCM_SENDER_ID</key>
	<string>428151417911</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.liliayudina.Firebase-Project</string>
	<key>PROJECT_ID</key>
	<string>fir-project-fee93</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-project-fee93.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:428151417911:ios:7775c342538e112ab3e3b2</string>
	<key>DATABASE_URL</key>
	<string>https://fir-project-fee93.firebaseio.com</string>
</dict>
</plist>